body{
    box-sizing: border-box;
}

.main{
    height: 100vh   ;
}

input{
    width:40em;
    
}

.editInput{
    width:80em;
}

.in{
    width: 24em;
}

.at{
    width: 110px;
}

.attch{
    width: 35em;
}

#checkbox{
    width: auto;
    margin-right: 10px;
}

.left{
    height: 100vh;
}

.line{
    height: 100vh;
}

.line1{
    height: 90vh;
}

.menu{
    width: 7em;
}
.right{
    width: 100vw;
    height: 100vh;
}

.middle{
    box-sizing: border-box;
    width: 80em;
    height: 40em;
}

.ffirst{
  width: 35em;
}


.eleft{
    width: 83em;
}

#editer{
    width: 80em;
}

.search{
    width: 19em;
}

.tb{
    width: 70vw;
}

.editor{
    height: 15em;
}

.ti{
    font-size: 50px;
    
}